version: "3.1"

networks:
  app-network:
    name: ${APP_NETWORK}
    external: true

services:
  rail-bot:
    image: corwinpro/train-butler
    restart: always
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      LDB_TOKEN: ${LDB_TOKEN}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
    networks:
      - app-network
    labels:
      - "com.centurylinklabs.watchtower.scope=myscope"

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 10 --scope myscope
    labels:
      - "com.centurylinklabs.watchtower.scope=myscope"